@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --main-color: #7945FF;
  --secondary-color: #5C2DD5;
  --border-color: #000000;
  --pink-color: #FD6687;
  --yellow-color: #FFCE67;
  --text-color: #595959;
}

body {
  background-color: var(--main-color);
  font-family: 'Space Grotesk', sans-serif;
}


.shadow-box {
  border: 3px solid var(--border-color);
  border-radius: 2rem;
  box-shadow: 0px 0.7rem 0px var(--border-color);
}

a, a:visited, a:focus {
  text-decoration: none;
  width: 100%;
}

/* Main menu */
#main-menu-container,
#rules-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-menu-box,
#rules-box {
  width: clamp(300px, 90vw,450px);
  margin: 4rem 10px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.pill-button {
  padding: 0.5rem 2rem;
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill-button.shadow-box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 0.7rem 0px var(--secondary-color);
}

#start-game-button {
  background-color: var(--yellow-color);
}

/* RULES */
#rules-box {
  background: white;
  gap: 2rem;
  position: relative;
}

#rules-box h1 {
  font-size: 3rem;
  font-weight: 600;
}

#rules-box h2 {
  color: var(--main-color);
  margin-bottom: 0.8rem;
}

#rules-box p,
#rules-box li {
  color: var(--text-color);
  font-weight: 500;
}

#rules-box ::marker {
  color: var(--border-color);
}

#rules-box a {
  width: fit-content;
  border-radius: 100%;
  position: absolute;
  top: 95%;
}

.confirm-button {
  background: transparent;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.confirm-button:hover {
  transform: scale(1.05);
}

@media (width <= 360px) {
  #main-menu-box.shadow-box {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  #main-menu-box {
    padding: 4rem 0.3rem;
  }
}

/* GAME PAGE */
#game-buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#game-buttons button {
  width: fit-content;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: white;
  font-weight: 600;
  background-color: var(--secondary-color);
}

#game-buttons button:hover {
  cursor: pointer;
  background-color: var(--pink-color);
}

#players-score-section {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.player-box {
  position: relative;
  padding: 0.6rem 2rem;
  background: white;
}

.player-box .score {
  text-align: center;
  display: block;
  font-size: 2rem;
}

.player-box img {
  position: absolute;
}

.player-one img {
  top: 25%;
  left: -20%;
}

.player-two img {
  top: 25%;
  right: -20%;
}

@media (width <= 400px) {
  .player-one img {
    top: 75%;
    left: 0;
  }
  
  .player-two img {
    top: 75%;
    right: 0;
  }
}

#board-section {
  margin-top: 4rem;
}

#board {
  background: white;
  max-width: 600px;
  padding: 5px 5px 1rem;
  margin: 0 10px;
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns with equal width */
  grid-template-rows: repeat(6, minmax(0, 1fr)); /* 6 rows with equal height */
  gap: 5px; /* Adjust the gap between cells as needed */
}

@media (width >= 620px) {
  #board {
    margin: 0 auto;
  }
}

.cell {
  /* The aspect ratio trick: */
  position: relative;
  padding-bottom: calc(100% - 6px); /* 1:1 aspect ratio, minus 6px due to the border */
  border: 3px solid black;
  border-radius: 100%;
  background-color: var(--main-color); /* Add your preferred cell styling here */
  box-shadow: inset 0px 0.6rem 0px var(--border-color);
}